// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#categoryIndex {
    min-width: 300px;
    background-color: #2f3136;
    min-height: -webkit-calc(100% - 59px);
}

.categoryTopLine {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 0px
}

.categoryCollapse {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    cursor: pointer;
}

.categoryCollapse:hover {
    color: white;
}

#serverName {
    display: flex;
    flex-direction: row;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    align-items: center;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    border-bottom: 1px solid #202225;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

#createCategory {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(64, 63, 71);
    height: 220px;
    width: 460px;
    
    z-index: 2;
    align-items: center;
    border-radius: 5px;
    border: solid rgb(64, 63, 71) 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

#server-input{
    width: 100%;
}

.inputBox {
    border-radius: 3px;
    font-size: 18px;
    padding: 5px;
}

#categoryName {
    font-size: 14px;
    margin-bottom: 5px;
}

#createCategoryForm {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;

}

#createCategoryBackground {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.496);
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoryItem {
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 10px;
    padding-bottom: 5px;
}

#createCategoryTitle {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding: 30px;
}

#createCategoryButtonDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 10px;
    align-items: center;

}

#createCategoryButton {
    border-radius: 3px;
    font-size: 14px;
    background-color: rgb(68,76,236);
    color: white;
    cursor: pointer;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 120px;
    padding: 10px;
}


#createChannel {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(64, 63, 71);
    height: 220px;
    width: 460px;
    
    z-index: 2;
    align-items: center;
    border-radius: 5px;
    border: solid rgb(64, 63, 71) 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}


#channelName {
    font-size: 14px;
    margin-bottom: 5px;
}

#createChannelForm {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;

}

#createChannelBackground {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.496);
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}



#createChannelTitle {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding: 30px;
}

#createChannelButtonDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 10px;
    align-items: center;

}

#createChannelButton {
    border-radius: 3px;
    font-size: 14px;
    background-color: rgb(68,76,236);
    color: white;
    cursor: pointer;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 120px;
    padding: 10px;
}
#editCategoryForm {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;

}

#editCategoryBackground {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.496);
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}



#editCategoryTitle {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding: 30px;
}

#editCategoryButtonDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 10px;
    align-items: center;

}

#editCategory {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(64, 63, 71);
    height: 220px;
    width: 460px;
    
    z-index: 2;
    align-items: center;
    border-radius: 5px;
    border: solid rgb(64, 63, 71) 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
#editServerForm {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    
}

#editServerBackground {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.496);
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}



#editServerTitle {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding: 30px;
}

#editServerButtonDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 10px;
    align-items: center;

}

#editServer {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(64, 63, 71);
    height: 220px;
    width: 460px;
    
    z-index: 2;
    align-items: center;
    border-radius: 5px;
    border: solid rgb(64, 63, 71) 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
#createServerForm {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;

}

#createServerBackground {
    position: absolute;
    z-index: 1;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.496);
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}



#createServerTitle {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding: 30px;
}

#createServerButtonDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 10px;
    align-items: center;

}

#createServer {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(64, 63, 71);
    height: 220px;
    width: 460px;
    
    z-index: 2;
    align-items: center;
    border-radius: 5px;
    border: solid rgb(64, 63, 71) 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
#createServerButton  {
    border-radius: 3px;
    font-size: 14px;
    background-color: #24832c;
    color: white;
    cursor: pointer;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 120px;
    padding: 10px;
}
#editServerButton {
    background-color: rgb(30, 30, 30);
    border-style: none;
    border: solid rgb(30, 30, 30) 8px;
    color: rgb(90, 0, 247);
    padding: 5px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;

}

#editServerButton:hover {
    background-color: rgb(90, 0, 247);
    color: white;
}
