// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#categoryIndex {
    width: 240px;
    background-color: #2f3136;
}

#serverName {
    display: flex;
    flex-direction: row;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    align-items: center;
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    border-bottom: 2px solid #202225;
    padding-top: 5px;
    padding-bottom: 5px;
}

#createCategory {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: green;
    height: 360px;
    width: 500px;
    left: 33%;
    top: 20%;
    z-index: 2;
}
#createCategoryBackground {
    position: absolute;
    z-index: 1;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.3);
    visibility: hidden;
}

.categoryItem {
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 10px;
    padding-bottom: 5px;
}