#homeContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

#leftRightColumn {
    width: 300px;
    display: flex;
    flex-direction: column;
}

#searchBar {
    min-height: 55px;
    background-color: rgb(65, 62, 73);
}

#dmList {
    min-height: -webkit-calc(100% - 114px);
    overflow: hidden scroll;
}

#dmList::-webkit-scrollbar {
    display: none;
}

#leftInfoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#userInfoContainer {
    display: flex;
    background: #26292c;
    min-height: 55px;
    flex-direction: row;
    align-items: center;
    padding: 2px 10px 2px 10px;
    justify-content: space-between;

}
#tag {
    color: grey;
    font-size: smaller;
}