#rightComponent {
    min-width: 300px;
    color: rgba($color: #000000, $alpha: 0);
    background: #2f3136
}

#rightComponentTwo {
    color: rgba($color: #000000, $alpha: 0);
    background: rgb(74, 75, 78);
    width: 100%;
}

