#serverChannels {
    min-width: 300px;
    background-color: #2f3136;
}

#leftComponent {
    display: flex;
    flex-direction: row;
}

.channelIndex {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    display: none;
    align-items: center;
}

.channelIndexItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

.channelDeleteButton {
    border-style: none;
    color: grey;
    background: rgba(0, 0, 0, 0);
    font-size: 10px;
    align-self: center;
    padding-right: 10px;
}

.channelDeleteButton:hover {
    cursor: pointer;
    color: red;
}