#serverIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72px;
    background: #202225;
    min-height: 100%;
    overflow: scroll;
    
}

#homeButton {
    background-color: rgb(54, 182, 79);

}

#seperator {
    margin-top: 5px;
    border-bottom: solid rgb(56, 56, 56) 3px;
    justify-self:auto ;
    
}

#serverIndex::-webkit-scrollbar {
    display: none;
  }

.serverButton {
    height: 48px;
    width: 48px;
    border-radius: 30px;
    border: none;
    background-color: rgb(68,76,236);
    margin-top: 10px;
    transition: 0.3s;
}

.serverButton:hover {
    border-radius: 12px;
}

#createServer {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: green;
    height: 360px;
    width: 500px;
    left: 33%;
    top: 20%;
    z-index: 2;
}
#createServerBackground {
    position: absolute;
    z-index: 1;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.3);
    visibility: hidden;
}