#serverIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 90px;
    max-width: 90px;
    background: #202225;
    min-height: 100%;
    overflow: scroll;
}

#homeButton {
    
    background-color: rgb(71, 71, 72);
    height: 55px;
    width: 55px;
    border-radius: 18px;
    border: none;
    margin-top: 10px;
    margin-bottom: 5px;
    transition: 0.3s;
    color: white;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#homeButton:hover {
    background-color: rgba(54, 182, 79, .7);
}


#seperator {
    margin-top: 5px;
    border-bottom: solid rgb(56, 56, 56) 3px;
    justify-self:auto ;
    
}

#createNewServerButton {
    min-height: 55px;
    width: 55px;
    border-radius: 30px;
    margin-top: 10px;
    border-style: none;
    border: 2px solid green;
    background: none;
    color: green;

}

#serverIndex::-webkit-scrollbar {
    display: none;
    transition: .5s;
  }

#newServerButton{
    border-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: grey;
    background-color: rgba($color: #000000, $alpha: 0);
}

#newServerButton:hover {
    color: white;
}

.serverButton {
    height: 55px;
    width: 55px;
    border-radius: 30px;
    border: none;
    background-color: rgb(68,76,236);
    margin-top: 10px;
    transition: 0.3s;
    color: white;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.serverButton:hover {
    border-radius: 18px;
    cursor: pointer;
}

#createServer {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: green;
    height: 360px;
    width: 500px;
    left: 33%;
    top: 20%;
    z-index: 2;
}
#createServerBackground {
    position: absolute;
    z-index: 1;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.3);
    visibility: hidden;
}

.collapseButton {
    border-style: none;
    transition: .2s;
    color: grey;
    background: rgba(0, 0, 0, 0);
    font-size: 10px;
    align-self: center;

}

.addChannelButton {
    border-style: none;
    transition: .2s;
    color: grey;
    background: rgba(0, 0, 0, 0);
    font-size: 20px;
}

.addChannelButton:hover {
    color: white;
}

.deleteCategoryButton {
    border-style: none;
    transition: .2s;
    color: grey;
    background: rgba(0, 0, 0, 0);
    font-size: 20px;
}

#deleteCategoryButton {
    display: none;
    position: absolute;
    background-color: rgb(30, 30, 30);
    border-style: none;
    border: solid rgb(30, 30, 30) 8px;
    color: red;
    padding: 5px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;

}

#deleteCategoryButton:hover {
    background-color: red;
    color: white;
}