.showPage {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#gear {
    height: 30px;
    filter: invert(.6);
    cursor: pointer;
    border-radius: 5px;
}

#gear:hover{
    background-color: rgba(128, 128, 128, 0.34);
}

#joinServerBox {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 50%;
    align-self: center;
    justify-content: center;
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    gap: 15px;
    align-items: center;
}

#joinServerBox button{
    border-style: none;
    width: fit-content;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background: #33bb3f;
}