.showPage {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#gear {
    height: 30px;
    filter: invert(.6);
}

#joinServerBox {
    display: flex;
    position: relative;
    top: 35%;
    flex-direction: column;
    width: 40%;
    align-self: center;
    justify-content: center;
    background-color: grey;
}

