
#splashMain {
    background: rgb(68,76,236); 
    z-index: -2;
    height: 626px;
}

#sectionOne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
}

#splashText {
    display: flex;
    padding: 40px 120px;
    width: 500px;
    flex-direction: column;
    position: relative;
    z-index: 1;
    align-self: center;
}

#splashText h1 {
    display: flex;
   
    font-size: 56px;
    color: white;
    justify-content: space-around;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

#splashText p {
    margin-top: 20px;
}

#splashNav {

    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    height: 80px;
    margin-left: 40px;
    margin-right: 40px; 
}

#splashNavLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#splashNavLinks ul {
    display: flex;
    flex-direction: row;
    padding: 5px;

}

#splashNavLinks li {
    padding: 10px;
    margin: 10px;   
    flex-direction: column;
    justify-content: space-around;

}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}


#clouds {
    display: flex;
    align-self: flex-start;
    position: absolute;
    top: 0;
    z-index: 0;
}

#shoePeople {
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-right: 370px;
}

#barPeople {
    position: absolute;
    z-index: 1;
    right: 50%;
    margin-left: 370px;
}
#imageDiv {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;


}