
#splashMain {
    background: rgb(68,76,236); 
}

#splashText {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 20px;
    padding: 40px 120px
}

#splashText h1 {
    display: block;
    position: absolute;
    top: 20%;
    left: 35%;
    font-size: 56px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

#splashNav {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    height: 80px;
    margin-left: 40px;
    margin-right: 40px; 
}

#splashNavLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#splashNavLinks ul {
    display: flex;
    flex-direction: row;
    padding: 5px;

}

#splashNavLinks li {
    padding: 10px;
    margin: 10px;   
    flex-direction: column;
    justify-content: space-around;

}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}